div.content {
  max-width: 800px;
  background: #ec744f;
  margin: 20px auto;
  border-radius: 4px;
  padding: 10px;
}

div header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div header span.nome {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

div section span.endereco {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  color: #222;
}

div header span.nome h1 {
  font-size: 18px;
  color: #eee;
  font-weight: bold;
}

button {
  margin-right: 8px;
  width: 80px;
  height: 36px;
  border: 0;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
}

button.editar {
  background: #dba901;
}

button.excluir {
  background: #ff0000;
}

section p {
  color: #eee;
}

section span {
  color: #eee;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: flex-end;
}

footer a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 26px;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

button.funcionarios {
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.1);
  width: 110px;
  font-size: 14px;
  border: 1px solid #eee;
  color: #eee;
}

form {
  display: flex;
  flex-direction: column;
  margin: 15px;
  margin-bottom: 10px;
}

form strong {
  align-self: center;
  color: #444;
  font-size: 18px;
  margin-bottom: 15px;
}

form input {
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 4px;
  height: 40px;
  padding: 0 15px;
  color: #666;
  margin: 0 0 10px;
  font-size: 16px;
}

form footer button {
  width: 142px;
  height: 36px;
  border: 0;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  margin-right: 10px;
}

form footer button.salvar {
  background: #088a08;
}

form footer button.sair {
  background: rgba(0, 0, 0, 0.5);
}

div ul.showFun {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div ul.showFun li {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  height: 42px;
  width: 350px;
  cursor: pointer;
  margin-bottom: 8px;
}

div ul.showFun li:hover {
  background: #ff5722;
}

div ul.showFun li img {
  width: 16px;
  height: 16px;
}

div ul.showFun p {
  font-weight: bold;
}

div ul.showFun section li strong {
  color: #eee;
}

div.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
