<div class="content">
  <header>
    <span class="nome">
      <label for="">Nome:</label>
      <h1>{{ empresaSelecionada.nome }}</h1>
    </span>
    <span class="buttons">
      <button type="button" class="editar" (click)="openModal(editarModal)">
        Editar
      </button>
      <button
        type="button"
        class="excluir"
        (click)="onDelete(empresaSelecionada)"
      >
        Excluir
      </button>
    </span>
  </header>

  <section>
    <span class="endereco">
      <label for="">Endereço:</label>
      <p>{{ empresaSelecionada.endereco }}</p>
    </span>
    <span class="cnpj">
      <label for="">CNPJ:</label>
      <span>{{ empresaSelecionada.cnpj }}</span>
    </span>
  </section>

  <button class="funcionarios" (click)="showFuncionarios()">
    Funcionários
  </button>

  <footer>
    <a (click)="back()">Voltar</a>
  </footer>

  <ul class="showFun" *ngIf="showFuncionario">
    <section>
      <p>Lista de Funcionários</p>

      <li *ngFor="let funcionario of funcionarios">
        <strong>{{ funcionario.nome }}</strong>
        <img src="../../assets/next.png" alt="" />
      </li>
    </section>
  </ul>
</div>

<ul *ngIf="!showFuncionarios">
  <section>
    <li>
      <strong>Não existem funcionários cadastrados para esta empresa</strong>

      <img src="../../assets/next.png" alt="" />
    </li>
  </section>
</ul>

<ng-template #editarModal>
  <form class="needs-validation" novalidate [formGroup]="form">
    <strong>Atualização de Empresa</strong>
    <input
      placeholder="Nome da empresa"
      type="text"
      class="form-control"
      id="nome"
      formControlName="nome"
    />
    <input
      placeholder="Endereço"
      type="text"
      class="form-control"
      id="endereco"
      formControlName="endereco"
    />
    <input
      type="text"
      class="form-control"
      id="cnpj"
      formControlName="cnpj"
      placeholder="Ex. 00.000.000/0000-000"
      [textMask]="{ mask: mask }"
    />

    <footer>
      <button class="salvar" type="button" (click)="onSubmit()">
        Salvar
      </button>
      <button class="sair" type="button" (click)="editarModalRef.hide()">
        Fechar
      </button>
    </footer>
  </form>
</ng-template>

<ng-template #excluirModal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Tem certeza que deseja excluir?</h5>
    </div>

    <div class="modal-footer">
      <button
        style="margin-right: 20px;"
        type="button"
        class="btn btn-danger"
        (click)="onConfirmDelete()"
      >
        Sim
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        (click)="excluirModalRef.hide()"
      >
        Não
      </button>
    </div>
  </div>
  <!-- <div class="excluir">
    <p></p>
    <button
      style="margin-right: 20px;"
      type="button"
      class="btn btn-danger"
      (click)="onConfirmDelete()"
    >
      Sim
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="excluirModalRef.hide()"
    >
      Não
    </button>
  </div> -->
</ng-template>
