<div class="container">

  <ul class="list-group">
    <li class="list-group-item active">Empresas
      <a [routerLink]="['/empresas/add']" routerLinkActive="router-link-active">
        <button type="button" class="btn btn-info">Cadastrar</button>
      </a>
    </li>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Endereço</th>
          <th scope="col">CNPJ</th>
          <th scope="col">##</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let empresa of empresas">
          <th scope="row">{{empresa.id}}</th>
          <td>{{empresa.name}}</td>
          <td>{{empresa.endereco}}</td>
          <td>{{empresa.cnpj}}</td>
          <td>
            <button type="button" class="btn btn-primary">Editar</button>
            <button type="button" class="btn btn-danger float-sm-">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="row">
      <div class="col-sm-4">
        <li class="list-group-item" *ngFor="let empresa of empresas">{{empresa.nome}}
          <a [routerLink]="['/empresas/destroy']" routerLinkActive="router-link-active">
            <button type="button" class="btn btn-danger float-sm-right">Excluir</button>
          </a>
          <a [routerLink]="['/empresas/update']" rou routerLinkActive="router-link-active">
            <button type="button" class="btn btn-primary float-sm-right">Editar</button>
          </a>
        </li>
      </div>
    </div> -->

  </ul>
</div>



<div>
  <router-outlet></router-outlet>
</div>