<div id="content">
  <header>
    <strong>Gerenciamento de Empresas</strong>
    <button type="button" (click)="openModal(cadEmpresa)">CADASTRAR</button>
  </header>

  <div class="container">
    <ul>
      <section *ngFor="let empresa of empresas">
        <li (click)="onUpdate(empresa.id)">
          <strong>{{ empresa.nome }}</strong>

          <img src="../../assets/next.png" alt="" />
        </li>
      </section>
      <!-- <footer>
      <button type="button">Anterior</button>
      <button type="button">Próxima</button>
    </footer> -->
    </ul>
  </div>
</div>

<ng-template #cadEmpresa>
  <form
    autocomplete="off"
    class="needs-validation"
    novalidate
    [formGroup]="form"
  >
    <strong>Cadastro de Empresa</strong>
    <input
      type="text"
      class="form-control"
      id="nome"
      formControlName="nome"
      placeholder="Nome da empresa"
      autofocus
    />
    <input
      type="text"
      placeholder="Endereço"
      class="form-control"
      id="endereco"
      formControlName="endereco"
    />
    <input
      type="text"
      class="form-control"
      id="cnpj"
      formControlName="cnpj"
      placeholder="Ex. 00.000.000/0000-000"
      [textMask]="{ mask: mask }"
    />

    <footer>
      <button class="salvar" type="button" (click)="onSubmit()">
        Salvar
      </button>
      <button class="sair" type="button" (click)="cadModalRef.hide()">
        Fechar
      </button>
    </footer>
  </form>
</ng-template>

<!-- <ng-template #isEmptyEmpresa>
  <div class="empresas-empty">
    <strong>Nenhuma empresa cadastrada até o momento</strong>
  </div>
</ng-template> -->

<ng-template #isNotEmptyEmpresa> </ng-template>
