<form class="needs-validation" novalidate [formGroup]="formFuncionario">
  <div class="form-row">
    <div class="col-md-4 mb-1"></div>
    <div class="col-md-4 mb-1">
      <div class="alert alert-primary" role="alert">
        Cadastro de Funcionários
      </div>
      <input
        type="text"
        class="form-control"
        id="nome"
        formControlName="nome"
        placeholder="Nome completo"
        [ngClass]="{ 'is-invalid': submitted && hasError('nome') }"
      />
      <div
        class="invalid-feedback"
        *ngIf="hasError('nome') && hasError('nome')['required']"
      >
        Nome é obrigatório
      </div>
      <div
        class="invalid-feedback"
        *ngIf="hasError('nome') && hasError('nome')['maxlength']"
      >
        Nome precisa ter no máximo
        {{ hasError("nome")["maxlength"].requiredLength }}
      </div>
    </div>
    <div class="col-md-4 mb-1"></div>

    <div class="col-md-4 mb-1"></div>
    <div class="col-md-4 mb-1">
      <input
        type="text"
        class="form-control"
        id="dataNascimento"
        formControlName="dataNascimento"
        placeholder="Data de nascimento"
        [ngClass]="{ 'is-invalid': submitted && hasError('dataNascimento') }"
      />

      <div class="invalid-feedback">
        Data de nascimento é obrigatório!
      </div>

      <div
        class="invalid-feedback"
        *ngIf="
          hasError('dataNascimento') && hasError('dataNascimento')['maxlength']
        "
      >
        Data de nascimento precisa ter no máximo
        {{ hasError("dataNascimento")["maxlength"].requiredLength }}
      </div>
    </div>
    <div class="col-md-4 mb-1"></div>

    <div class="col-md-4 mb-1"></div>
    <div class="col-md-4 mb-1">
      <input
        type="text"
        class="form-control"
        id="cpf"
        formControlName="cpf"
        placeholder="CPF"
        [ngClass]="{ 'is-invalid': submitted && hasError('cpf') }"
      />

      <div class="invalid-feedback">
        CPF é obrigatório
      </div>

      <div
        class="invalid-feedback"
        *ngIf="hasError('cpf') && hasError('cpf')['maxlength']"
      >
        CPF precisa ter no máximo
        {{ hasError("cpf")["maxlength"].requiredLength }}
      </div>
    </div>

    <div class="col-md-4 mb-1"></div>

    <div class="col-md-4 mb-1"></div>
    <!-- <div class="col-md-4 mb-3">
      <select
        name=""
        id="empresa"
        class="form-control"
        formControlName="empresa"
      >
        <option value="#">Empresas...</option>
      </select>
    </div> -->

    <div
      *ngIf="!isEmpresaEmpty; then isNotEmptyEmpresa; else isEmptyEmpresa"
      class="container"
    ></div>
    <div class="col-md-4 mb-3"></div>

    <div>
      <button type="submit" class="btn btn-success" (click)="onSubmit()">
        Salvar
      </button>
      <button type="button" class="btn btn-default" (click)="onCancel()">
        Cancelar
      </button>
    </div>
  </div>

  <ng-template #isEmptyEmpresa>
    <div class="col-md-4 mb-3">
      <select
        name=""
        id="empresaId"
        class="form-control"
        formControlName="empresaId"
        [ngClass]="{
          'is-invalid': submitted && hasError('empresaId')['required']
        }"
      >
      </select>

      <div class="invalid-feedback">
        Empresa é obrigatória
      </div>
    </div>
  </ng-template>

  <ng-template #isNotEmptyEmpresa>
    <div class="col-md-4 mb-3">
      <select
        name=""
        id="empresaId"
        class="form-control"
        formControlName="empresaId"
        [ngClass]="{ 'is-invalid': submitted && hasError('empresaId') }"
      >
        <option *ngFor="let empresa of empresas" [value]="empresa.id">{{
          empresa.nome
        }}</option>
      </select>

      <div class="invalid-feedback">
        Empresa é obrigatória
      </div>
    </div>
  </ng-template>
</form>

<div>
  <router-outlet></router-outlet>
</div>
