<div class="container">

  <form>
    <div class="form-row">
      <div class="form-group col-md-2">

      </div>

      <div class="form-group col-md-6">
        <div class="alert alert-primary" role="alert">
          Cadastro de Funcinários
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="inputName4" placeholder="Nome completo">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="inputDataNascimento4" placeholder="Data de Nascimento">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="inputCpf4" placeholder="CPF">
        </div>

        <div class="row">
          <div class="col-md-8">
            <select class="form-control">
              <option value="#" selected>Empresas...</option>
              <option value="+47">Norge (+47)</option>
              <option value="+46">Sverige (+46)</option>
              <option value="+45">Danmark (+45)</option>
            </select>
          </div>

          <div class="col-md-4">
            <button type="submit" class="btn btn-success mb-2">Salvar</button>
          </div>
        </div>


      </div>



      <div class="form-group col-md-2">

      </div>

    </div>

  </form>
</div>