header {
  height: 70px;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  justify-content: space-between;
  background: #ddd;
}

nav {
  display: flex;
}

ul {
  display: flex;
  align-items: center;
}

ul li a {
  text-decoration: none;

  font-weight: bold;
  color: #999;
  font-size: 15px;
  margin-left: 20px;
}

img {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #ddd;
}
