<header>
  <button
    type="text"
    (click)="display = true"
    pButton
    icon="pi pi-list"
    class="ui-button-danger"
    label="MENU"
  ></button>
  <nav>
    Sistema Desafio Basis
  </nav>
</header>
<p-sidebar [(visible)]="display" [style]="{ heigth: '70%' }">
  <a [routerLink]="['']">
    <img src="../../assets/logo.png" alt="" srcset="" />
  </a>

  <div class="menu">
    <a [routerLink]="['/empresas']" routerLinkActive="router-link-active"
      >EMPRESAS</a
    >

    <a [routerLink]="['/funcionarios']" routerLinkActive="router-link-active"
      >FUNCIONÁRIOS</a
    >
  </div>
</p-sidebar>

<div>
  <router-outlet></router-outlet>
</div>
