<!-- <header>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['']">
          <img src="../../assets//logo.png" alt="" srcset="" />
        </a>
      </li>
      <li>
        <a [routerLink]="['/empresas']" routerLinkActive="router-link-active"
          >EMPRESAS</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/funcionarios']"
          routerLinkActive="router-link-active"
          >FUNCIONÁRIOS</a
        >
      </li>
    </ul>
  </nav>
</header> -->
<p-sidebar [(visible)]="display">
  <a [routerLink]="['']">
    <img src="../../assets//logo.png" alt="" srcset="" />
  </a>

  <div class="menu">
    <a [routerLink]="['/empresas']" routerLinkActive="router-link-active"
      >EMPRESAS</a
    >

    <a [routerLink]="['/funcionarios']" routerLinkActive="router-link-active"
      >FUNCIONÁRIOS</a
    >
  </div>
</p-sidebar>

<button
  type="text"
  (click)="display = true"
  pButton
  icon="pi pi-microsoft"
  label="Show"
>
  Menu ❯
</button>
<div>
  <router-outlet></router-outlet>
</div>
