<div class="container">

  <form>
    <div class="form-row">
      <div class="form-group col-md-2">

      </div>

      <div class="form-group col-md-6">
        <div class="alert alert-primary" role="alert">
          Cadastro de Empresas
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="inputName4" placeholder="Nome">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" id="inputEndereco4" placeholder="Endereço">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="inputCnpj4" placeholder="CNPJ">
        </div>



        <div class="form-group">
          <button type="submit" class="btn btn-primary mb-2">Salvar</button>

        </div>
      </div>

      <div class="form-group col-md-2">

      </div>

    </div>

  </form>
</div>