<div class="container" style="margin-top: 30px;">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Bem Vindo ao Desafio da Basis</h4>
    <p>
      Desafio proposto pela Basis. Com intuito de aprendizado dos novos
      colaboradores.
    </p>
    <hr />
    <p class="mb-0">
      <strong>Descrição do desafio:</strong>
      <br />
      Deverá ser possível Listar, Incluir, Editar e Excluir uma Empresa. Deverá
      ser possível Listar, Incluir, Editar e Excluir um Funcionário. Empresa:
      Uma empresa possui um Nome, Endereço e CNPJ. Funcionário: Um funcionário
      possui Nome, Data de Nascimento, CPF. No cadastro de um funcionário, será
      obrigatório selecionar em que Empresa ele trabalha (baseado nas empresas
      que já foram cadastradas). ● No momento da exclusão de uma empresa, deverá
      ser verificado se a empresa possui funcionários vinculados a ela. Caso
      haja, os funcionários também deverão ser excluídos.
    </p>
  </div>
</div>
